.App {
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    
    grid-auto-rows: auto;
    
    grid-gap: 1rem;
    
    }
    
.search-css {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}